$uicss{background:$bodybgcolor$; background:$bgcolor$; position:relative; background-position:top center; background-size:100% auto;
word-break:break-all; overflow:hidden; color:$secondcolor$; color:$desccolor$;}
$uicss a{color:$firstcolor$; color:$titlecolor$;}
$uicss a:focus, $uicss a:hover{color:$thirdcolor$; color:$hovercolor$;}
$uicss .h1, $uicss .h2, $uicss .h3, $uicss .h4, $uicss .h5, $uicss .h6,
$uicss h1, $uicss h2, $uicss h3, $uicss h4, $uicss h5, $uicss h6{color:$firstcolor$; color:$titlecolor$;}



$uicss .met-search { padding: 10px 0px;}
@media (max-width: 767px) {
$uicss .met-search .met-search-body { padding: 20px 10px; }}
$uicss .met-search .met-search-body { min-height: 500px; padding: 30px; background:$showcolor$; border:1px solid $bordercolor$; border-radius:5px;}
@media (max-width: 767px) {
$uicss .met-search .met-search-body { padding: 10px; }}
$uicss .met-search .met-search-body .page-search-form { margin-bottom: 10px; }
$uicss .met-search .met-search-body .met_pager { margin-top: 30px; text-align: center; }
$uicss .met-search .met-search-body .page-search-title { font-size: 26px; }  
$uicss .met-search .met-search-body .list-group-item > h4 { margin-bottom: 5px; }
$uicss .met-search .met-search-body .list-group-item > h4 a { text-decoration: none; color:$firstcolor$; color:$titlecolor$; }
$uicss .met-search .met-search-body .list-group-item > h4 a:hover { text-decoration:none; color:$thirdcolor$; color:$hovercolor$;}
$uicss .met-search .met-search-body .list-group-item > p:last-child { margin-bottom: 0; }
$uicss .met-search .met-search-body a.search-result-link{color:$secondcolor$; color:$desccolor$; opacity:.75;}
$uicss .met-search .met-search-body a.search-result-link:hover{opacity:1;}
$uicss .list-group-dividered .list-group-item{border:none; position:relative;}
$uicss .list-group-dividered .list-group-item:after{display:block; content:''; left:0; right:0; bottom:0; height:1px; position:absolute;
background:$secondcolor$; background:$bordercolor$;}
$uicss .met-search .met-search-body .list-group-item{padding:15px 0;} 
@media (max-width: 767px) {
$uicss .met-search .met-search-body .list-group-item{padding:10px 0;} }
$uicss .met-search .met-search-body .list-group-item > p{color:$secondcolor$; color:$desccolor$;}
$uicss .list-group-item{background:none;}
$uicss .input-search-dark .form-control{border:1px solid $bordercolor$; border-radius:3px; color:$secondcolor$; color:$desccolor$;
border-radius: 0; padding-top: 0; padding-bottom: 0; background:$inputcolor$ !important;} 
$uicss .input-search-dark .form-control::-webkit-input-placeholder{color:$secondcolor$; color:$desccolor$; opacity:.9;} 
$uicss .input-search-dark .form-control:-moz-placeholder{color:$secondcolor$; color:$desccolor$; opacity:.9;}
$uicss .input-search-dark .form-control::-moz-placeholder{color:$secondcolor$; color:$desccolor$; opacity:.9;} 
$uicss .input-search-dark .form-control:-ms-input-placeholder{color:$secondcolor$; color:$desccolor$; opacity:.9;}




$uicss .met_pager{margin:15px 0 0 0; text-align: center;}
$uicss .met_pager .PageText,
$uicss .met_pager input{display:none;}
$uicss .met_pager a,
$uicss .met_pager span{display:inline-block; padding:0 10px; margin:1px; font-size:16px;
min-width:50px; height:50px; line-height:50px; text-align:center; 
border:1px solid transparent; border-color:$bordercolor$;
background:$pagebgcolor$; color:$secondcolor$; color:$desccolor$; color:$pagetitlecolor$;
transition:.3s; -moz-transition:.3s; -ms-transition:.3s; -o-transition:.3s; -webkit-transition:.3s;}
$uicss .met_pager span{cursor:no-drop;}
$uicss .met_pager a:hover,
$uicss .met_pager a.Ahover,
$uicss .met_pager span:hover{background:$thirdcolor$; background:$hovercolor$; color:$pagehovercolor$; border-color:$hovercolor$;}
$uicss .page-ajax{display:none;}
@media(max-width:767px){
$uicss .page-box{display:none;}
$uicss .page-ajax{display:block;} }
$uicss .met-pager-ajax-link{position:relative;}
$uicss .met-pager-ajax-link:before{content:''; position:absolute; z-index:1; left:0; top:0; right:0; bottom:0; border:none;
transition:.3s; -moz-transition:.3s; -ms-transition:.3s; -o-transition:.3s; -webkit-transition:.3s;
background:$showcolor$; background:$pagebgcolor$;}
$uicss .met-pager-ajax-link .btn-primary{position:relative; z-index:2; display:block;
opacity:1 !important; background:none !important; border:none !important; 
color:$secondcolor$; color:$desccolor$; color:$pagetitlecolor$;}
$uicss .met-pager-ajax-link:hover:before{background:$thirdcolor$; background:$hovercolor$; opacity:1;}
$uicss .met-pager-ajax-link:hover .btn-primary{color:$pagehovercolor$;}