$uicss_main.met-content{background:$bodybgcolor$; background:$bgcolor$; position:relative; 
background-position:top center; background-size:100% auto;
word-break:break-all; overflow:hidden; padding: 30px 0; }

@media (min-width: 992px){
$uicss_main.met-content{padding: 50px 0;}
$uicss_main .met-cons{float:right;}
$uicss_main .met-conx{float:left;} }


$uicss .parent-slide{float:left; list-style:none; }
$uicss .parent-slide a{display:block; background:$showcolor$; position:relative; text-align:left; padding:0; overflow:hidden; cursor:pointer;}
$uicss .parent-slide a span{display:block; padding:0; overflow:hidden;}
$uicss .parent-slide a img{max-width:100%; display:block; margin:0 auto;
transition:.3s; -moz-transition:.3s; -ms-transition:.3s; -o-transition:.3s; -webkit-transition:.3s;}
$uicss .parent-slide a:hover img{ transform:scale(1.1); -moz-transform:scale(1.1); -ms-transform:scale(1.1);
-webkit-transform:scale(1.1); -o-transform:scale(1.1);}
$uicss .parent-slide a h4{display:block; font-size:18px; font-weight:normal; margin:25px 20px 0 20px;
color:$firstcolor$; color:$titlecolor$;}
$uicss .parent-slide a h4.on{padding:12px 20px; margin:0; text-align:center;
transition:.3s; -moz-transition:.3s; -ms-transition:.3s; -o-transition:.3s; -webkit-transition:.3s;}
$uicss .parent-slide a:hover h4.on{background:$thirdcolor$; background:$hovercolor$; 
color:$secondcolor$; color:$desccolor$; color:$foucscolor$;}

$uicss .parent-slide a h5{background:rgba(0,0,0,.35); position:absolute; z-index:99; left:0; top:0; right:0; bottom:0; margin:0; 
color:$secondcolor$; color:$desccolor$; color:$foucscolor$; text-align:center; visibility:hidden; opacity:0;
transition:.3s; -moz-transition:.3s; -ms-transition:.3s; -o-transition:.3s; -webkit-transition:.3s;}
$uicss .parent-slide a:hover h5{visibility:visible; opacity:1;}
$uicss .parent-slide a h5 em{position:absolute; bottom:51%; font-style:normal; left:10px; right:10px; font-size:18px;}
$uicss .parent-slide a h5 strong{position:absolute; top:51%; left:10px; right:10px; font-size:20px;}

$uicss .parent-slide a b{display:block; font-weight:normal; margin:10px 20px 0 20px; 
color:$secondcolor$; color:$desccolor$; color:$paracolor$;}
$uicss .parent-slide a b font{display:block; padding:4px 0; font-size:14px;}
$uicss .parent-slide a p{color:$secondcolor$; color:$desccolor$; overflow:hidden; font-size:16px; margin:5px 20px;} 

$uicss .parent-slide a dl{margin:20px 20px 25px 20px; line-height:36px;}
$uicss .parent-slide a dl:after{display:block; content:''; clear:both;}
$uicss .parent-slide a dl dt{float:left; background:$thirdcolor$; background:$hovercolor$; background:$detailcolor$; 
color:$secondcolor$; color:$desccolor$; color:$foucscolor$; padding:0 25px; font-weight:normal;
transition:.3s; -moz-transition:.3s; -webkit-transition:.3s;}
$uicss .parent-slide a dl dt:hover{ background:$thirdcolor$; background:$hovercolor$; }
$uicss .parent-slide a dl dd{float:right; font-weight:normal; margin-bottom:0;
color:$secondcolor$; color:$desccolor$; color:$paracolor$; font-size:15px;}

$uicss .price{color:$thirdcolor$; color:$hovercolor$; color:$pricecolor$; display:block; font-weight:normal;} 
$uicss h4>.price{margin-top:10px;}
$uicss a:hover h4>.price{color:$secondcolor$; color:$desccolor$; color:$foucscolor$;}
$uicss h4+.price{margin:10px 20px 0 20px; font-size:20px;}


$uicss .met-img{}
$uicss .met-img ul{margin:40px -25px 0 -25px;}
$uicss .met-img ul:after{display:block; clear:both; content:'';}
$uicss .met-img .case-slide{padding:0 25px; margin-bottom:50px;}
@media (max-width: 1199px){
$uicss .met-img ul{margin:30px -15px 0 -15px;} }
@media (max-width: 767px){
$uicss .met-img ul{margin:15px -7.5px 0 -7.5px;}
$uicss .parent-slide{padding:0 7.5px;} }

$uicss .met-img:after{display:block; content:''; clear:both;}
$uicss .met-img .container-fluid{padding:0;}
$uicss .met-img .container{padding-top:50px; padding-bottom:50px;}
$uicss .met-img .container .widget{background:none;}
@media (max-width: 1199px){
$uicss .met-img .container{padding-top:30px; padding-bottom:30px;} }
@media (max-width: 767px){
$uicss .met-img .container{padding-top:15px; padding-bottom:15px;} }
$uicss .met-img .widget,
$uicss .met-img .cover,
$uicss .met-img .cover-image { -o-border-radius: 0; border-radius: 0; }
@media (min-width: 480px) and (max-width: 767px){
$uicss .met-img ul.met-page-ajax li { width: 50%; } }

$uicss .met_pager{margin:0; text-align: center;}
$uicss .met_pager .PageText,
$uicss .met_pager input{display:none;}
$uicss .met_pager a,
$uicss .met_pager span{display:inline-block; padding:0 10px; margin:1px; font-size:16px;
min-width:40px; height:40px; line-height:40px; text-align:center; 
background:$pagebgcolor$; color:$secondcolor$; color:$desccolor$; color:$pagetitlecolor$;
transition:.3s; -moz-transition:.3s; -ms-transition:.3s; -o-transition:.3s; -webkit-transition:.3s;}
$uicss .met_pager span{cursor:no-drop;}
$uicss .met_pager a:hover,
$uicss .met_pager a.Ahover,
$uicss .met_pager span:hover{background:$thirdcolor$; background:$hovercolor$; color:$pagehovercolor$;}
$uicss .page-ajax{display:none;}
@media(max-width:767px){
$uicss .page-box{display:none;}
$uicss .page-ajax{display:block;} }
$uicss .met-pager-ajax-link{position:relative;}
$uicss .met-pager-ajax-link:before{content:''; position:absolute; z-index:1; left:0; top:0; right:0; bottom:0; border:none;
transition:.3s; -moz-transition:.3s; -ms-transition:.3s; -o-transition:.3s; -webkit-transition:.3s;
background:$pagebgcolor$;}
$uicss .met-pager-ajax-link .btn-primary{position:relative; z-index:2; display:block;
opacity:1 !important; background:none !important; border:none !important; 
color:$secondcolor$; color:$desccolor$; color:$pagetitlecolor$;}
$uicss .met-pager-ajax-link:hover:before{background:$pagebgcolor$; opacity:1;}
$uicss .met-pager-ajax-link:hover .btn-primary{ 
color:$secondcolor$; color:$desccolor$; color:$pagetitlecolor$;}